.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.pay-americanexpress {
  width: 28px;
  height: 16px;
  background-position: 0 0;
}
.pay-aura {
  width: 24px;
  height: 16px;
  background-position: -64px 0;
}
.pay-avista {
  width: 47px;
  height: 16px;
  background-position: -96px 0;
}
.pay-bancobrasil {
  width: 16px;
  height: 16px;
  background-position: -160px 0;
}
.pay-banescard {
  width: 42px;
  height: 16px;
  background-position: -192px 0;
}
.pay-banricompras {
  width: 17px;
  height: 16px;
  background-position: -256px 0;
}
.pay-banrisul {
  width: 24px;
  height: 16px;
  background-position: -288px 0;
}
.pay-bitcoin {
  width: 76px;
  height: 16px;
  background-position: -320px 0;
}
.pay-boleto {
  width: 27px;
  height: 16px;
  background-position: -416px 0;
}
.pay-bradesco {
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}
.pay-brasilcard {
  width: 14px;
  height: 16px;
  background-position: -32px -32px;
}
.pay-cabal {
  width: 15px;
  height: 16px;
  background-position: -64px -32px;
}
.pay-cabaldebito {
  width: 13px;
  height: 16px;
  background-position: -96px -32px;
}
.pay-cardban {
  width: 11px;
  height: 16px;
  background-position: -128px -32px;
}
.pay-cheque {
  width: 28px;
  height: 16px;
  background-position: -160px -32px;
}
.pay-cielo {
  width: 44px;
  height: 16px;
  background-position: -224px -32px;
}
.pay-dacasa {
  width: 58px;
  height: 16px;
  background-position: -288px -32px;
}
.pay-dinersclub {
  width: 61px;
  height: 16px;
  background-position: -384px -32px;
}
.pay-dinheiro {
  width: 13px;
  height: 16px;
  background-position: 0 -64px;
}
.pay-discover {
  width: 95px;
  height: 16px;
  background-position: -32px -64px;
}
.pay-elo {
  width: 16px;
  height: 16px;
  background-position: -160px -64px;
}
.pay-fortbrasil {
  width: 47px;
  height: 16px;
  background-position: -192px -64px;
}
.pay-grandcard {
  width: 89px;
  height: 16px;
  background-position: -256px -64px;
}
.pay-hipercard {
  width: 37px;
  height: 16px;
  background-position: -384px -64px;
}
.pay-itau {
  width: 16px;
  height: 16px;
  background-position: -448px -64px;
}
.pay-jcb {
  width: 21px;
  height: 16px;
  background-position: 0 -96px;
}
.pay-maestro {
  width: 27px;
  height: 16px;
  background-position: -32px -96px;
}
.pay-mais {
  width: 25px;
  height: 16px;
  background-position: -96px -96px;
}
.pay-mastercard {
  width: 21px;
  height: 16px;
  background-position: -160px -96px;
}
.pay-pagseguro {
  width: 63px;
  height: 16px;
  background-position: -192px -96px;
}
.pay-paypal {
  width: 41px;
  height: 16px;
  background-position: -288px -96px;
}
.pay-personalcard {
  width: 32px;
  height: 16px;
  background-position: -352px -96px;
}
.pay-pix {
  width: 45px;
  height: 16px;
  background-position: -416px -96px;
}
.pay-sodexo {
  width: 41px;
  height: 16px;
  background-position: 0 -128px;
}
.pay-sorocred {
  width: 16px;
  height: 16px;
  background-position: -64px -128px;
}
.pay-ticket {
  width: 55px;
  height: 16px;
  background-position: -96px -128px;
}
.pay-unionpay {
  width: 26px;
  height: 16px;
  background-position: -160px -128px;
}
.pay-valecard {
  width: 29px;
  height: 16px;
  background-position: -224px -128px;
}
.pay-visa {
  width: 49px;
  height: 16px;
  background-position: -288px -128px;
}
.pay-visaelectron {
  width: 36px;
  height: 16px;
  background-position: -352px -128px;
}
.pay-visavale {
  width: 26px;
  height: 16px;
  background-position: -416px -128px;
}
.pay-vr {
  width: 16px;
  height: 16px;
  background-position: 0 -160px;
}

